pymupdf
pdfplumber
chromadb
sentence-transformers
rank-bm25

langchain
langchain-community
langchain-google-genai
google-generativeai

ragas
mlflow

fastapi
uvicorn
python-multipart
pydantic

streamlit

python-dotenv
requests
pandas
numpy
scikit-learn
tqdm